<template>
  <div class="btn-wrapper">
    <a-form
      layout="inline"
      @submit.prevent="createUser"
    >
      <a-form-item>
        <a-input
          ref="username"
          v-model="name"
          placeholder="Name"
          required
          auto-focus
        />
      </a-form-item>
      <a-form-item>
        <a-input
          v-model="username"
          placeholder="Username"
          required
        />
      </a-form-item>
      <a-form-item>
        <a-button
          type="primary"
          html-type="submit"
        >
          <a-icon type="user-add" /> Create user
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  props: {
    users: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    name: '',
    username: ''
  }),
  methods: {
    async createUser() {
      const { name, username, users } = this
      const lastUser = users[users.length - 1]
      const id = lastUser ? lastUser.id + 1 : 1

      this.$emit('handleSpinning', true)

      const response = await this.$store.dispatch('user/createUser', {
        id,
        name,
        username
      })
      await this.$store.commit('user/customUpdateUserById', [...users, {
        ...response,
        id
      }])

      this.name = ''
      this.username = ''
      this.$refs.username.focus()
      this.spinning = false

      this.$emit('handleSpinning', false)
    }
  }
}
</script>
