<template>
  <a-spin
    tip="Loading..."
    :spinning="spinning"
  >
    <div class="container pa3">
      <h1 class="text-center">
        Mini Dashboard
      </h1>
      <CreateUser
        :users="users"
        @handleSpinning="handleSpinning"
      />
      <a-table
        :columns="columns"
        :data-source="users"
        :pagination="{ pageSize: 20 }"
        row-key="id"
        bordered
      >
        <span
          slot="action"
          slot-scope="user"
        >
          <a @click="() => onEditUser(user)">Edit</a>
          <a-divider type="vertical" />
          <a-popconfirm
            :title="`Are you sure delete this ${user.name}?`"
            ok-text="Yes"
            cancel-text="No"
            @confirm="onDeleteUser(user.id)"
          >
            <a>Delete</a>
          </a-popconfirm>
        </span>
      </a-table>
      <Modal
        :title="`Edit ${editable.editTitle}`"
        :visible="visibleModal"
        :confirm-loading="confirmLoadingModal"
        @ok="onConfirmEdit"
        @cancel="visibleModal = false"
      >
        <a-form-item>
          <a-input
            v-model="editable.name"
            placeholder="Name"
            required
          />
        </a-form-item>
        <a-form-item>
          <a-input
            v-model="editable.username"
            placeholder="Username"
            required
          />
        </a-form-item>
      </Modal>
    </div>
  </a-spin>
</template>

<script>
import { mapGetters } from 'vuex'

const columns = [
  {
    title: 'User ID',
    dataIndex: 'id',
    key: 'id'
  },
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: 'Username',
    dataIndex: 'username',
    key: 'username'
  },
  {
    title: 'Actions',
    key: 'action',
    className: 'column-action',
    scopedSlots: { customRender: 'action' }
  }
]

export default {
  data: () => ({
    columns,
    name: '',
    username: '',
    visibleModal: false,
    confirmLoadingModal: false,
    editable: {
      id: '',
      name: '',
      username: '',
      editTitle: ''
    },
    spinning: false
  }),
  computed: {
    ...mapGetters({
      users: 'user/getUsers'
    })
  },
  methods: {
    handleSpinning(spinning) {
      this.spinning = spinning
    },
    onEditUser(user) {
      const { id, name, username } = user
      this.editable = {
        id,
        name,
        username,
        editTitle: name
      }
      this.visibleModal = true
    },
    async onConfirmEdit() {
      const { id, name, username } = this.editable
      this.confirmLoadingModal = true

      const response = await this.$store.dispatch('user/updateUser', {
        id,
        name,
        username
      })

      const updateUsers = this.users.map((user) => (user.id === response.id ? response : user))
      await this.$store.commit('user/customUpdateUserById', updateUsers)

      this.confirmLoadingModal = false
      this.visibleModal = false
    },
    async onDeleteUser(userId) {
      this.spinning = true
      await this.$store.dispatch('user/deleteUser', userId).then(() => {
        const removeUserById = this.users.filter((user) => user.id !== userId)
        this.$store.commit('user/customDeleteUserByid', removeUserById)
        this.spinning = false
      })
    }
  }
}
</script>

<style scoped>
.pa3 {
  padding: 1rem;
}
.text-center {
  text-align: center;
}
.btn-wrapper {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #F5F5F5;
  margin-bottom: 1rem;
}
::v-deep th.column-action,
::v-deep td.column-action {
  text-align: right !important;
}
</style>
