@import '~ant-design-vue/dist/antd.less';

.container {
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.make-container(@minWidth, @breakpoint) {
    @media (min-width: @minWidth) {
        .container {
            max-width: @breakpoint;
        }
    }
}

.make-container(576px, 540px);
.make-container(768px, 720px);
.make-container(992px, 960px);
.make-container(1200px, 1140px);